@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  color: #221d21;
  line-height: 1.8;
}

.a-container {
  width: 100%;
  max-width: 1280px;
  padding: 100px 20px;
  margin: auto;
}

.aggregation__banner {
  width: 100%;
  height: 840px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.aggregation__banner-img-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.aggregation__banner-img {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  will-change: transform;
}
.aggregation__banner-title {
  font-size: 48px;
  position: relative;
  z-index: 1;
}
.aggregation__content {
  background-color: #F2F4F8;
  text-align: center;
}
.aggregation__content-title {
  font-size: 32px;
}
.aggregation__content-desc {
  font-size: 18px;
}
.aggregation__content-box-container {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aggregation__content-box {
  width: calc((100% - 36px) / 2);
  height: 600px;
  padding: 30px;
  border-radius: 24px;
  background-color: #fff;
}
.aggregation__content-box-text {
  font-size: 24px;
}